<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  {% block additional_header %}{% endblock additional_header %}
  <title>{% block title %}Home | Student Management{% endblock title %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="{%url "stdmanage:index"%}">Home</a>
          <a class="nav-link" href="{%url "stdmanage:student-list"%}">Students</a>
          <a class="nav-link" href="{%url "stdmanage:student-create"%}">Add Students</a>
          <a class="nav-link" href="{%url "stdmanage:exam-create"%}" tabindex="-1" aria-disabled="true">Add Exams</a>
          <a class="nav-link" href="{%url "stdmanage:exam-list"%}" tabindex="-1" aria-disabled="true">Exam List</a>
        </div>
      </div>
    </div>
  </nav>
  {% block body %}
  %%
  {% endblock body %}
</body>
</html>