{% extends 'stdmanage/base.html' %}
    
  {% block title %}All Students{% endblock title %}
  {% block body %}
    
  <div class="container">
    
    <div class="row">
      <div class="col-12 col-md-8">
        <h3>All Students</h3> 
      </div>
    </div>
    
    <form action="{%url 'stdmanage:student-list' current %}" method="post">
      {% csrf_token %}
      <div class="row my-1">
      
        <div class="col-5 col-md-3">
          <select name="reading_class" class="form-select" aria-label="Default select example">
            <option value = "all" >all</option>
            {% for i in all_class %}
              {% if i.name == reading_class %}
              
                <option selected value="{{i.name}}">{{i.name}}</option>
              
                {% else %}
              
                <option value="{{i.name}}">{{i.name}}</option>
        
              {% endif %}
                            
            {% endfor %}
          </select>
        </div>
        
        <div class="col-5 col-md-3">
          <select name="page_size" default='5' class="form-select" aria-label="Default select example">
            <option selected value = "{{page_size}}" >{{page_size}}</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="col-2 col-md-2">
          <button class="btn btn-secondary">Set Params</button>
        </div>        
      </div>
    </form> 
    
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th> Student ID </th>
              <th> Name </th>
              <th> Class </th>
              <th> Address </th>
            </tr>
          </thead>
          <tbody>
            {% for student in list_object %}
              <tr>
                <td> {{student.id}} </td>
                <td> <a href="{%url 'stdmanage:student-detail' student.id%}">{{student.full_name}}</a>
                </td>
                <td> {{student.class}} </td>
                <td> {{student.home_address}} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="{%url 'stdmanage:student-list' prev %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            
            {% for i in pages %}
              {% if i == current %}
                <li class="page-item"><a class="page-link active" href="{%url 'stdmanage:student-list' i %}">
              {% else %}
                <li class="page-item"><a class="page-link" href="{%url 'stdmanage:student-list' i %}">   
              {% endif %}
            {{i}}
            </a></li>
            {% endfor %}
            
            <li class="page-item">
              <a class="page-link" href="{%url 'stdmanage:student-list' next %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

  {% endblock body %}
