<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <title>Add Students</title>
</head>
<body>

  {% load crispy_forms_tags %} 

  <div class="container">
    <h3>Add Students</h3>
    
    <div class="row">
      <div class="col-12 col-md-6">
        <form action="{% url 'stdmanage:student-create' %}" method="post">
          {%csrf_token%}
          {{form|crispy}}
          <div class="row my-3">
            <div class="col">
              <button type="submit" class="btn btn-dark">Add Student Entry</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>





</body>
</html>