{% extends 'stdmanage/base.html' %}
    
  {% block title %}All Subjects{% endblock title %}
  {% block body %}
    
  <div class="container">
    
    <div class="row my-3">
      <div class="col-12 col-md-8">
        <h3>All Subjects</h3> 
      </div>
    </div>
    
    <form action="{%url 'stdmanage:subject-list' 1%}" method="post">
      {% csrf_token %}
      <div class="row my-1">
        
        <div class="col-5 col-md-3">
          <select name="page_size" default='5' class="form-select" aria-label="Default select example">
            <option selected value = "{{page_size}}" >{{page_size}}</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </div>

        <div class="col-2 col-md-2">
          <button class="btn btn-secondary">Set Params</button>
        </div>

      </div>
    </form> 
    
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th> Subject ID </th>
              <th> subject Name </th>
              <th> Edit </th>
              <th> Delete </th>
            </tr>
          </thead>
          <tbody>
            {% for subject in list_object %}
              <tr>
                <td> {{subject.id}} </td>
                <td> {{subject.name}} </td>
                <td>
                  <a href="{%url 'stdmanage:subject-update' subject.id%}">
                      <button class="btn btn-secondary" >Edit</button>
                  </a>
                </td>
                <td>
                  <a href="{%url 'stdmanage:subject-delete' subject.id%}">
                      <button class="btn btn-danger">Delete</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="{%url 'stdmanage:subject-list' prev %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            
            {% for i in pages %}
              {% if i == current %}
                <li class="page-item"><a class="page-link active" href="{%url 'stdmanage:subject-list' i %}">
              {% else %}
                <li class="page-item"><a class="page-link" href="{%url 'stdmanage:subject-list' i %}">   
              {% endif %}
            {{i}}
            </a></li>
            {% endfor %}
            
            <li class="page-item">
              <a class="page-link" href="{%url 'stdmanage:subject-list' next %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <a href="{%url "stdmanage:subject-create"%}">
      <button class="btn btn-outline-primary my-3">
          <span>Create new subject <i class="bi bi-arrow-right-square"></i></span>
      </button>
    </a>
    
  </div>

  {% endblock body %}
